<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
    <form name="register">
        이름<input type="text" name="name" >

        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="men"><label for="men">남자</label>
            <input type="radio" name="gender" value="여자" id="women"><label for="women">여자</label>
        </fieldset>

        <fieldset>
            <legend>생년월일</legend>

            <select name="year" id="year" value="년">
                <% for(var i= 1980;i <=2023;i++) {%>
                <option value="<%= i %>"><%= i %></option>
                    <% } %>
            </select> 년

            <select name="month" id="month" value="월">
                <% for(var i= 1; i<=12;i++) {%>
                <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select> 월

            <select name="date" id="date" value="일">
                <% for(var i= 1;i <=31;i++) {%>
                <option value="<%= i %>"><%= i %></option>
                    <% } %>
            </select> 일
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="hobby" value="여행">여행
            <input type="checkbox" name="hobby" value="패션">패션
            <input type="checkbox" name="hobby" value="음식">음식
        </fieldset>
        <br />
        <button type="button" onclick="axiosGet()">회원가입</button>

    </form>
    <h3 id ="result"></h3>
    <script>
        function getData () {
            const form = document.forms["register"]

            if(!form.checkValidity()) {
                form.reportValidity();
                return false;
            }

            const hobby = []

            for (let input of form.hobby){
                if(input.checked) hobby.push(input.value);
            }

            const data = {
                name: form.name.value,
                gender: form.gender.value,
                year: form.year.value,
                month: form.month.value,
                date: form.date.value,
                hobby: hobby
            }
            return data;
        }


        async function axiosGet() {
            const data = getData ();
            if(!data)return;

            const res = await axios({
                method: "GET",
                url: "/axios",
                params: data,
            })

            const {
                name,
                gender,
                year,
                month,
                date,
                hobby,
            } = res.data
            $("#result").html(`회원가입 완료! ${name}님 환영 합니다`)
            

            }

    </script>

    
</body>
</html>